* {
    margin: 0;
    padding: 0;
}

#grilla-index {
    /*configuracion de la grilla del index*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:
        200px auto auto 200px;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

header {
    grid-area: header;
    background-color: rgb(224, 189, 145);
}

.nav-menu {
    grid-area: nav;
    background-color: rgb(167, 224, 145);
}

.main {
    grid-area: main;
    background-color: rgb(195, 145, 224);
}

.footer {
    grid-area: footer;
    background-color: rgb(224, 145, 145);
}

/*empiezo a trabajar con el header*/
header {
    display: flex;
    justify-content: space-evenly;
    /*align-items: center;*/
}

h1 {
    font-size: 50px;
    width: 100%;
    text-shadow: 9px -5px 8px rgba(0, 0, 0, 0.48);
}


/*termino de trabajar con el header*/

/*empiezo a trabajar con el menu en el nav*/
.ul-menu {
    display: flex;
    
    /*esto es para darle el ancho a los menues y poder centrarlo en el nav*/
    list-style: none;
    justify-content: space-evenly;
  
    font-size: 30px;
}

.link-menu:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    transition: 550ms;
}

.link-menu {
    text-decoration: none;
}

/*termino de trabajar con el menu del nav*/

/*SECCION INDEX*/

/*empiezo a trabajar con el main index*/
.tarjetas {
    /*contenedor de las tarjetas*/
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;

    height: 100%;
}

.div-relax {
    /*tarjeta*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-disf {
    /*tarjeta*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-conoce {
    /*tarjeta*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*propiedades de los h2 main index*/
.div-relax h2 {
    font-size: 50px;
    margin-top: 15px;
}

.div-disf h2 {
    font-size: 50px;
    margin-top: 15px;
}

.div-conoce h2 {
    font-size: 50px;
    margin-top: 15px;
}

/*propiedades de los h2 main index*/

.img_index {
    /*imagenes del main index*/
    width: 100%;
    margin-top: 30px;
}

.texto-tarjeta {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 10px;
    text-align: justify;
}
/*configuracion MQ INDEX*/
@media only screen and (max-width:700px){
    .tarjetas div h2{
        font-size: 50px;
        
    }
    div .texto-tarjeta{
        padding: 25px;
        margin: 20px;
    }
    .tarjetas{
        display: flex;
        flex-direction: column;
    }
    .img_index{
        height: 80%;
        width: 80%;
    }
    .nav-menu{
        height: 250px;
        justify-content: space-evenly;
        
    }
    
    .ul-menu{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    }

    

    
    
    
    @media only screen and (min-width:600px){
    
    }
    

/*termina de trabajar con el main index*/

/*arranca de trabajar con el FOOTER*/
.footer {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
}

.nav-icon {
    display: flex;
    justify-content: right;
    width: 50%;
    margin-right: 25px;
}

.div-footer {
    width: 10%;
    height: 100%;
    margin: 0px 15px;
}

.footer img {
    width: 30px;
    height: 30px;
}

.h4 {
    width: 100%;
    display: inline-block;
    margin-left: 15px;
}

.nav-icon img:hover {
    background-color: rgb(197, 178, 178);
}

/*termina de trabajar con el FOOTER*/

/*SECCION GALERIA*/

.grilla-img{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 350px 350px 350px 350px;
    grid-template-areas: "v1 h1 h1 v2"
                         "v1 h2 h2 v2"
                         "v3 c1 h3 h3"
                         "v3 c2 h4 h4";
    justify-content: space-evenly;
    background-color: rgb(146, 197, 197);
}

.v1{ /*POSISIONAMIENTO DE LAS IMAGENES EN LA GRILLA*/
    grid-area: v1;    
}
.h1{
    grid-area: h1;
}
.h2{
    grid-area: h2;
}
.v2{
    grid-area: v2;
}
.v3{
    grid-area: v3;
}
.c1{
    grid-area: c1;
}
.c2{
    grid-area: c2;
}
.h3{
    grid-area: h3;
}
.h4{
    grid-area: h4;
}


main img{
    width: 100%;
    height: 90%;
}
main p{
    background-color: rgb(146, 197, 197);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}
main img:hover{
    animation: myAnim 1s ease 0s 1 normal forwards;
}

    